## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config3 import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_Database.csv file. 
city_data_df = pd.read_csv("/Users/lydiagray/Documents/Data Analytics/Unit 6 WeatherPy/World_Weather_Analysis/Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mar Del Plata,AR,-38.0023,-57.5575,41.95,77,0,3.44,clear sky
1,1,Oussouye,SN,12.4850,-16.5469,80.78,72,46,4.92,scattered clouds
2,2,Busselton,AU,-33.6500,115.3333,56.50,70,100,6.46,overcast clouds
3,3,Puksoozero,RU,62.5903,40.6066,58.41,91,97,3.94,overcast clouds
4,4,Keuruu,FI,62.2667,24.7000,48.79,98,100,8.30,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 89

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Oussouye,SN,12.4850,-16.5469,80.78,72,46,4.92,scattered clouds
9,9,Puerto Escondido,MX,15.8500,-97.0667,82.36,73,80,3.80,broken clouds
10,10,Georgetown,MY,5.4112,100.3354,82.33,88,20,3.44,few clouds
12,12,Mackenzie,CA,55.2999,-123.1698,75.42,17,75,10.36,broken clouds
14,14,Yuci,CN,37.6803,112.7319,78.55,36,0,2.24,clear sky
16,16,Hilo,US,19.7297,-155.0900,88.29,85,100,16.11,moderate rain
20,20,Faanui,PF,-16.4833,-151.7500,78.94,77,99,10.63,light rain
24,24,Victoria,HK,22.2855,114.1577,85.32,85,53,8.01,broken clouds
31,31,Isangel,VU,-19.5500,169.2667,80.71,83,100,9.22,overcast clouds
32,32,Rikitea,PF,-23.1203,-134.9692,77.22,77,91,14.83,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()
#preferred_cities_df.isnull().sum()

City_ID                208
City                   208
Country                208
Lat                    208
Lng                    208
Max Temp               208
Humidity               208
Cloudiness             208
Wind Speed             208
Current Description    208
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Oussouye,SN,12.4850,-16.5469,80.78,72,46,4.92,scattered clouds
9,9,Puerto Escondido,MX,15.8500,-97.0667,82.36,73,80,3.80,broken clouds
10,10,Georgetown,MY,5.4112,100.3354,82.33,88,20,3.44,few clouds
12,12,Mackenzie,CA,55.2999,-123.1698,75.42,17,75,10.36,broken clouds
14,14,Yuci,CN,37.6803,112.7319,78.55,36,0,2.24,clear sky
...,...,...,...,...,...,...,...,...,...,...
677,677,Portland,US,45.5234,-122.6762,81.90,47,75,6.91,broken clouds
679,679,Iralaya,HN,15.0000,-83.2333,82.17,84,99,15.05,overcast clouds
686,686,Ulhasnagar,IN,19.2167,73.1500,84.20,77,89,4.16,overcast clouds
691,691,Pointe Michel,DM,15.2500,-61.3833,75.49,77,100,11.48,overcast clouds
695,695,Tulsipur,NP,28.1310,82.2973,82.56,23,29,3.83,scattered clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Oussouye,SN,80.78,scattered clouds,12.4850,-16.5469,
9,Puerto Escondido,MX,82.36,broken clouds,15.8500,-97.0667,
10,Georgetown,MY,82.33,few clouds,5.4112,100.3354,
12,Mackenzie,CA,75.42,broken clouds,55.2999,-123.1698,
14,Yuci,CN,78.55,clear sky,37.6803,112.7319,
16,Hilo,US,88.29,moderate rain,19.7297,-155.0900,
20,Faanui,PF,78.94,light rain,-16.4833,-151.7500,
24,Victoria,HK,85.32,broken clouds,22.2855,114.1577,
31,Isangel,VU,80.71,overcast clouds,-19.5500,169.2667,
32,Rikitea,PF,77.22,overcast clouds,-23.1203,-134.9692,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows(): 
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
 
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"] != '']
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Oussouye,SN,80.78,scattered clouds,12.4850,-16.5469,Auberge du Routard
9,Puerto Escondido,MX,82.36,broken clouds,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
10,Georgetown,MY,82.33,few clouds,5.4112,100.3354,Cititel Penang
12,Mackenzie,CA,75.42,broken clouds,55.2999,-123.1698,Hilton Shop
14,Yuci,CN,78.55,clear sky,37.6803,112.7319,Thank Inn Plus Hotel Shanxi Jinzhong Yuci Dist...
16,Hilo,US,88.29,moderate rain,19.7297,-155.0900,Hilo Hawaiian Hotel
20,Faanui,PF,78.94,light rain,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
24,Victoria,HK,85.32,broken clouds,22.2855,114.1577,Mini Central
31,Isangel,VU,80.71,overcast clouds,-19.5500,169.2667,Tanna Lodge
32,Rikitea,PF,77.22,overcast clouds,-23.1203,-134.9692,People ThankYou

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "/Users/lydiagray/Documents/Data Analytics/Unit 6 WeatherPy/World_Weather_Analysis/Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and {Max Temp}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))